
h6{
    color:red;
    display: inline;
    margin:50px;
    text-align: left;
}

.flex-container {
    display: -webkit-flex;
    border: radius 20;
    width: 1000px;
    height: 50px;
    display: inline-flex;
}

#flexbox{
    width:300px;
    height:150px;
    margin:50px 50px ;
    border-style:groove ;
    
}
.button{
    background-color: red;
    color: white;
}
.sub1{
    width:100px;
    height:100px;
    margin:100;
}
span{
    color:red;
}
.nav{
    text-align: right;
    display: inline;
}
.first1container{
    text-align:right;
    padding-right: 950px;
    

}
.flex2{
    text-align:right;
    display: inline-block;
    border: 20px;
}
.flex1,.flex1{
  text-align:center;
   width:150px;
   height: 100px;
   margin: 20px;
   border-style: groove;
   border-radius: 10px;
   display:inline-flex;
   
}

p{
    color:red;
}